* {
    padding: 0px;
    margin: 0px;
}


.chota-div {
    background-color: rgb(255, 255, 255);
    height: 70px;
    width: 100vw;
}
.two {
    background-color: rgb(255, 255, 255);
    height: 50px;
    width: 100vw;
}
.heading {
    margin: 10px;
    border: 1.5px solid black;
    height: 30px;
    text-align: justify;

}
.heading2 {
    margin-left: 35px !important;
    margin: 10px;
    border: 1.5px solid black;
    height: 30px;
    text-align: center;
    
}
.head {
    font-size: x-large;
    align-self: center;
    color: rgb(80, 74, 74);
    text-align: center;
margin-left: 8vh;
margin-top: -7.5vh;
}
.list {
    list-style: none;
display: flex;
margin-left: -29px;


}
.red {
    color: orangered;
}
li {
    margin-left: 40px;
    font-weight: bold;
}
.list-one {
    list-style: none;
    display: flex;
    margin-left: 115vh;
    margin-top: -7vh;
}
.bg {
    background-image: url(https://www.eventkingdom.com/img/rd/start/moods/170323/philharmoniker_de.webp);
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.text {
    height: 100vh;
    width: 450px;
    margin-left: 105vh;
}
.bt {
    margin-left: 550px ;
    margin-top: -50vh;
    color: gray;

}
.texting {
    margin-top: -20vh;
}
.typing {
    margin-top: -15vh;
    color: black;
}
.baap {
    display: flex;
    
}
.card {
    height: 50vh;
    width: 60vh;
    border: 3px solid gray;
    margin-left: 7vh;
    margin-top: 7vh;
}
.photo {
    text-align: center;
    padding-top: 10px;
    font-size: 25px;
    color: rgb(197, 194, 194);
}
.im {
    height: 60vh;
    width: 40vh;
    margin-left: 10vh;
    margin-top: 10px;
}
